.list__item {
	display: grid;
	grid-template-areas:
		"description value trash"
		"type edit trash";
	grid-template-columns: auto minmax(120px, 300px) max-content;

	background: var(--color-grey-1);
	box-sizing: border-box;

	border-radius: 4px;
	padding: 15px 18px 11px 14px;
	min-height: 70px;
}

.list__item--red-border {
	border-left: 4px solid var(--color-red-1);
}

.list__item--green-border {
	border-left: 4px solid var(--color-secondary);
}

.item__description {
	grid-area: description;
	font-family: "Nunito";
	font-weight: 700;
	font-size: 1rem;
	color: var(--color-grey-4);
	line-height: 30px;
	min-width: 165px;
	word-wrap: break-word;
}

.item__type {
	grid-area: type;
	color: var(--color-grey-5);
	font-family: "Nunito";
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 22px;
}

.item__value {
	grid-area: value;
	color: var(--color-grey-4);
	line-height: 22px;
	text-align: end;
	padding: 0 10px;
	box-sizing: border-box;
	font-weight: 500;
	padding-bottom: 8px;
}
.item__value--red {
	color: var(--color-red-1);
}
.item__value--green {
	color: var(--color-secondary);
}
.item__button--delete {
	grid-area: trash;
	width: 22px;
	height: 22px;
	background-image: url("../../assets/imgs/trash-icon-1.png");
	border-radius: 2.46154px;
	cursor: pointer;
	justify-self: end;
	border: 2px solid transparent;
	background-position: center;
	background-color: var(--color-grey-1);
}

.item__button--delete:hover {
	background-image: url("../../assets/imgs/trash-icon-2-hover.png");
}
.item__button--edit {
	grid-area: edit;
	/* width: 80px; */
	padding: 4px 10px;
	justify-self: end;
	border: none;
	background-color: var(--color-grey-2);
	color: var(--color-grey-4);
	border-radius: 8px;
}

.item__button--edit:hover {
	background-color: var(--color-primary);
}
@media (min-width: 1024px) {
	.list__item {
		column-gap: 40px;
	}
}
