.App {
	display: grid;
	grid-template-areas:
		"header"
		"form "
		"total"
		"containerList";
	margin: 0 auto;
	row-gap: 20px;
	column-gap: 60px;
}

.App::before {
	content: "";
	background-color: var(--color-app);
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	max-width: 100% !important;
	overflow-x: hidden;

	position: fixed;
	z-index: -1;
}

@media (min-width: 1024px) {
	.App {
		max-width: 1024px;
		grid-template-columns: 40% 60%;

		grid-template-areas:
			"header header"
			"form containerList"
			"total containerList";
		row-gap: 39px;
		grid-template-rows: auto 350px auto;
		column-gap: 0px;
	}
}
@media (min-width: 1440px) {
	.App {
		max-width: 1440px;
		grid-template-columns: 30% 70%;
	}
}
